/* Customizations to the cover template provided by bootstrap.
 * James Hohman
 * Copyright James Hohman, 2015
 */

/* Images */
img.third-party-logo {
    max-width: 320px;
}

#jquery-logo {
    border-radius: 8px;
}

/* Fix svg z-order so it doesn't appear on top of
 * navbar menu */
#d3-logo {
    z-index: 1;
}

/* Accentuate the delineation between covers */
.inner.cover:nth-child(odd) {
    background-color: rgba(225,235,255,0.05);
    border-radius: 20px;
}

/* Prettify the navbar with a translucent appearance */
.masthead.clearfix {
    background-color: rgba(10,20,40,0.96);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1000;
}

@media (min-width: 768px) {
    .first-cover {
        padding-top: 80px;
    }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 1000px;
  }
}
