{% extends "common/site_base.html" %}

{% block extrastyle %}
    <!-- unmodified cover.css -->
    <link href="{{ STATIC_URL }}core/css/cover.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}core/css/index.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}textparser/css/textparser.css"
    rel="stylesheet">
{% endblock %}

{% block body %}
  <body style="background: url({{ STATIC_URL }}common/img/{{ siteParams.background }}) no-repeat center center fixed;">
    <!-- Bootstrap cover example -->
    <!-- http://getbootstrap.com/examples/cover/ -->
    <!-- Modified for this example site by James Hohman, 2015. -->
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">{{ siteParams.title }}</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="{% url 'core:index' %}">Home</a></li>
                  <li class="active"><a href="{% url 'textparser:index' %}">
                  TextParser</a></li>
                  {% if not hide_result_link %}
                    <li><a href="{% url 'textparser:results' %}">Results</a>
                  {% endif %}
                  <!--<li><a href="#">Contact</a></li>-->
                </ul>
              </nav>
            </div>
          </div>
          {% include 'common/messages.html' %}
          <div class="inner cover form-group first-cover">
            <h1 class="cover-heading">TextParser</h1>
            {% comment %}
            <!--
            The following template loops allow for more granular control
            of form rendering. We display form errors as bootstrap
            dismissible alerts.
            -->
            {% endcomment %}
            <form action="{% url 'textparser:index' %}" method="post"
            id="textform">
              {% csrf_token %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                  {{ error }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
              {% for error in form.text.errors %}
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                  {{ error }}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
              {% for field in form %}
                {{ field }}
              {% endfor %}
              <!-- {{ form }} -->
              <p class="lead"></p>
              <p class="lead">
                <button class="btn btn-lg btn-default"  type="submit"
                form="textform" value="Submit">Submit</button>
              </p>
            </form>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p> &copy; {{ siteParams.company|title }},
              {{ siteParams.current_year }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block includeJS %}
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{ STATIC_URL }}core/js/ie10-viewport-bug-workaround.js"></script>
  <script type="text/javascript">
    $('label[for=id_text]').addClass('sr-only');
  </script>
{% endblock %}
