{% extends "common/site_base.html" %}

{% block extrastyle %}
    <!-- unmodified cover.css -->
    <link href="{{ STATIC_URL }}core/css/cover.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}core/css/index.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}textparser/css/textparser.css"
    rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}textparser/css/results.css"
    rel="stylesheet">
{% endblock %}

{% block body %}
  <body style="background: url({{ STATIC_URL }}common/img/{{ siteParams.background }}) no-repeat center center fixed;">
    <!-- Bootstrap cover example -->
    <!-- http://getbootstrap.com/examples/cover/ -->
    <!-- Modified for this example site by James Hohman, 2015. -->
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">{{ siteParams.title }}</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="{% url 'core:index' %}">Home</a></li>
                  <li><a href="{% url 'textparser:index' %}">
                  TextParser</a></li>
                  <li class="active"><a href="{% url 'textparser:results' %}">
                  Results</a></li>
                  <!--<li><a href="#">Contact</a></li>-->
                </ul>
              </nav>
            </div>
          </div>
          {% include 'common/messages.html' %}
          <div class="inner cover first-cover">
            <h1 class="cover-heading">Results</h1>
            <div class="panel panel-default">
              <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a id="ctrl-table" href="javascript:void(0)" onclick="javascript:results.tabClick(this)">Table</a></li>
                <li role="presentation"><a id="ctrl-word-table" href="javascript:void(0)" onclick="javascript:results.tabClick(this)">Word List</a></li>
                <li role="presentation"><a id="ctrl-d3-score" href="javascript:void(0)" onclick="javascript:results.tabClick(this)">Scrabble<sup>TM</sup> Score</a></li>
                <li role="presentation"><a id="ctrl-d3-freq" href="javascript:void(0)" onclick="javascript:results.tabClick(this)">Frequency</a></li>
              </ul>
              <!-- <div> -->
              <!-- Default panel heading -->
              <div id="result-heading" class="panel-heading">Result Table</div>
              <!-- Default panel details -->
              <div id="result-body" class="panel-body" style="display: none;"><p></p></div>
              <div id="result-table" class="panel-body">
                <!-- This is a temporary patch until I can fix this layout
                  properly. There should not be 2 panel-bodies. -->
                <!-- Table -->
                <table class="table result-table">
                  <thead>
                    <tr>
                      <th>Metric</th>
                      <th>Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Total words (Raw)</td>
                      <td>{{ jsonRTot }}</td>
                    </tr>
                    <tr>
                      <td>Total words</td>
                      <td>{{ jsonTot }}</td>
                    </tr>
                    <tr>
                      <td>Unique words (Raw)</td>
                      <td>{{ jsonRUniq }}</td>
                    </tr>
                    <tr>
                      <td>Unique words</td>
                      <td>{{ jsonUniq }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div id="result-word-table" class="panel-body" style="display: none;">
                <!-- This is a temporary patch until I can fix this layout
                  properly. There should not be 2 panel-bodies. -->
                <p class="lead">Top Words</p>
                <!-- Table -->
                <table id="list-table" class="table result-table">
                  <thead>
                    <tr>
                      <th>Rank</th>
                      <th>Word</th>
                      <th>Frequency</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for words in jsonTop %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ words.0 }}</td>
                      <td>{{ words.1 }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
                <p class="lead">All Words</p>
                <!-- Table -->
                <table id="all-table" class="table result-table">
                  <thead>
                    <tr>
                      <th>Rank</th>
                      <th>Word</th>
                      <th>Frequency</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for words in jsonFreq %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ words.0 }}</td>
                      <td>{{ words.1 }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <div id="result-footer" class="panel-footer">
                <form action="{% url 'textparser:flush' %}" method="post">
                  {% csrf_token %}
                  <input type="submit" class="btn btn-md btn-info"
                  value="Clear Results">
                </form>
              </div>
            <!-- </div> -->
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p> &copy; {{ siteParams.company|title }},
              {{ siteParams.current_year }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block includeJS %}
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{{ STATIC_URL }}core/js/ie10-viewport-bug-workaround.js"></script>
  <!-- d3.js Stuff -->
  {% if siteParams.cdn %}<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  {% else %}<script src="{{ STATIC_URL }}d3-v3.5.5/d3-v3.5.5.min.js"></script>{% endif %}
  <script src="{{ STATIC_URL }}throttle.js/jquery.ba-throttle-debounce.min.js" type="text/javascript"></script>
  <!-- results.js controls interface -->
  <script src="{{ STATIC_URL }}textparser/js/results.js"></script>
  <!-- results.js controls interface -->
  {% if jsonMetrics %}
  <script type="text/javascript">
    $(document).ready(function() {
      results.jsonLoad({{ jsonMetrics|safe|default_if_none:'{"key": "error", "value": "no json data."}'|default:'{"key": "error", "value": "no json data."}' }}, {{ jsonParams|safe|default_if_none:'{"key": "info", "value": "no chart parameters."}'|default:'{"key": "info", "value": "no chart parameters."}' }});
    });
  </script>
  <!-- Bar Chart Stuff -->
  <script src="{{ STATIC_URL }}textparser/js/d3_bar_chart.js"></script>
  <!-- End Bar Chart Stuff -->
  <!-- Scrabble Chart Stuff -->
  <script src="{{ STATIC_URL }}textparser/js/d3_forced_layout_chart.js"></script>
  <!-- End Scrabble Chart Stuff -->
  {% endif %}
{% endblock %}
