/* d3 Report CSS Stuff .
 * James Hohman
 * Copyright James Hohman, 2015
 */

.grid .tick {
    stroke: lightsteelblue;
    stroke-width: 1px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.grid {
    opacity: 0.5;
}

#d3-chart-svg {
    background-color: rgba(240, 248, 255, 0.5);
    border-radius: 12px;
}
