/* Customizations to the cover template provided by bootstrap.
 * James Hohman
 * Copyright James Hohman, 2015
 */

/* Form */
textarea {
    color: #333;
}

/* Panels */
.panel {
    background-color: rgba(255, 255, 255, 0.92);
}

.panel * {
    color: #333;
    text-align: left;
}

/* to prevent footer from occluding panel controls */
.panel.panel-default {
    margin-bottom: 100px;
}

#result-footer * {
    color: #FFF;
    text-align: right;
}

/* We use this css rule to prevent jittery sizing of the
svg canvas */
#result-body {
    min-width: 450px;
}

/* Need an indication that something is covering/floating
above the page and may block controls. */
.mastfoot {
    background-color: rgba(20,20,20,0.25);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: rgba(255, 255, 255, 0.65);
}

.warning-note {
    background-color: rgba(255, 255, 224, 0.8);
    padding: 2px 20px;
}

.warning-icon {
    color: yellow;
    margin: 0px 4px;
}
