{% extends "common/site_base.html" %}

{% block extrastyle %}
    <!-- unmodified cover.css -->
    <link href="{{ STATIC_URL }}core/css/cover.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}core/css/index.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <body style="background: transparent url({{ STATIC_URL }}common/img/{{ siteParams.background }}) no-repeat center center fixed;">
    <!-- Bootstrap cover example -->
    <!-- http://getbootstrap.com/examples/cover/ -->
    <!-- Modified for this example site by James Hohman, 2015. -->
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">{{ siteParams.title }}</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="{% url 'core:index' %}">Home</a></li>
                  <li><a href="{% url 'textparser:index' %}">TextParser</a></li>
                  {% if not hide_result_link %}
                    <li><a href="{% url 'textparser:results' %}">Results</a>
                  {% endif %}
                  <!--<li><a href="#">Contact</a></li>-->
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover first-cover">
            <h1 class="cover-heading">Text and d3.js Visualizations</h1>
            <p class="lead">This Django powered website provides an example
            of how to perform some <a href="http://d3js.org/">d3.js</a>
            visualizations using <a href="https://www.python.org/"
            >Python</a>/<a href="https://www.djangoproject.com/">Django</a>,
            <a href="http://en.wikipedia.org/wiki/JavaScript">JavaScript</a>,
            and <a href="https://jquery.com/">jQuery</a>. The site follows
            responsive design principles courtesy of the
            <a href="http://getbootstrap.com/">Bootstrap</a> Framework.</p>
            <p class="lead">
              <a href="{% url 'textparser:index' %}" class="btn btn-lg btn-default">TextParser</a>
            </p>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Bootstrap, for responsive design.</h1>
            <p class="lead"><img class="third-party-logo"
              src="{{ STATIC_URL }}common/img/bootstrap-solid.svg"></p>
            <p class="lead">
              <a href="http://getbootstrap.com/" class="btn btn-lg
              btn-default">Learn more</a>
            </p>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Powered by Python</h1>
            <p class="lead"><img class="third-party-logo"
              src="{{ STATIC_URL }}common/img/python-logo-large.png"></p>
            <p class="lead">
              <a href="https://www.python.org/" class="btn btn-lg
              btn-default">Learn more</a>
            </p>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Powered by</h1>
            <p class="lead"><img class="third-party-logo"
              src="{{ STATIC_URL }}common/img/logo-django.42234b631760.svg"></p>
            <p class="lead">
              <a href="https://www.djangoproject.com/"
              class="btn btn-lg btn-default">Learn more</a>
            </p>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Powered by d3.js</h1>
            {% include 'common/d3_logo.html' %}
            <h1>&nbsp; </h1>
            <p class="lead">
              <a href="http://d3js.org/" class="btn btn-lg
              btn-default">Learn more</a>
            </p>
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Powered by</h1>
            <p class="lead"><img id="jquery-logo" class="third-party-logo"
              src="{{ STATIC_URL }}common/img/jQuery-logo.PNG"></p>
            <p class="lead">
              <a href="https://jquery.com/" class="btn btn-lg
              btn-default">Learn more</a>
            </p>
          </div>
          <div class="mastfoot">
            <div class="inner">
              <p> &copy; {{ siteParams.company|title }},
              {{ siteParams.current_year }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block includeJS %}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ STATIC_URL }}core/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{ STATIC_URL }}core/js/cover.js"></script>
{% endblock %}
