{% if messages %}
<div class="messages">
  {% for message in messages %}
    {% if message.tags %}
      {% if message.tags == 'error' %}
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
      {% elif message.tags == 'success' %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade in" role="alert">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          <span class="sr-only">{{ message.tags }}:</span>
      {% else %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade in" role="alert">
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <span class="sr-only">Information:</span>
      {% endif %}
    {% else %}
      <div class="alert alert-info alert-dismissible fade in" role="alert">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <span class="sr-only">Information:</span>
    {% endif %}
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
</div>
{% endif %}
