{% block loads %}{% load i18n admin_static %}{% endblock %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}"{% if language_bidi %}dir="rtl" {% endif %}>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Example of Python/Django, Bootstrap, jQuery, javascript, and d3.js powered visualizations. This little app takes a blurb of text and performs basic analytics on it.">
  <meta name="author" content="J. Hohman.">
  {% block blockbots %}  <meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
  <title>{% block title %}{{ siteParams.title }} ({{ siteParams.release }})
  {% if appParams.title %} | {{ appParams.title }}{% endif %}
  {% endblock %}</title>
  <link rel="icon"
    type="image/png"
    href="{{ STATIC_URL }}common/img/logo.png">
  {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css"
    href="{% block stylesheet_rtl %}{% static 'admin/css/rtl.css' %}{% endblock %}">
  {% endif %}<script type="text/javascript">
    window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";
  </script>
  <!-- Bootstrap core CSS -->
  {% if siteParams.cdn %}
  <link rel="stylesheet" type="text/css"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  {% else %}
  <link rel="stylesheet" type="text/css"
  href="{{ STATIC_URL }}bootstrap-3.3.4-dist/css/bootstrap.min.css">{% endif %}
  <!-- site wide CSS -->
  <link rel="stylesheet" type="text/css"
  href="{{ STATIC_URL }}common/css/site_base.css">

  {% block includeCSS %}{% endblock includeCSS %}
  {% block stylesheet %}{% endblock %}
  {% block extrastyle %}{% endblock extrastyle %}
  {% block includeEarlyJQuery %}
  {% comment %}
  <!-- Some things need jquery library early, so we load it here. -->
  <!-- TimePicker for example. -->
  <!-- But we do not want to load the jquery library TWICE -->
  <!-- Thus, if you early load, please override post load jquery block -->
  {% endcomment %}
  {% endblock %}
  {% block includeEarlyJS %}{% endblock %}
  {% block extrahead %}{% endblock %}
</head>

{% block body %}
<body>
{% endblock %}

{% block footer %}
<div class="container">
    <hr>

    <footer>
        <p> &copy; {{ siteParams.company|title }} {{ siteParams.current_year }}</p>
    </footer>
</div>
{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block endJQuery %}{% if siteParams.cdn %}<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
{% else %}<script src="{{ STATIC_URL }}jquery-v1.11.3/jquery-1.11.3.min.js"></script>{% endif %}{% endblock %}
{% if siteParams.cdn %}<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
{% else %}<script src="{{ STATIC_URL }}bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>{% endif %}
{% block includeJS %}{% endblock %}
{% if sitePrefs.google_analytics %}{% block google_analytics %}
{% include "common/includes/google_analytics.html" %}{% endblock %}
{% endif %}

</body>
</html>